<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do Formulário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Dados do Formulário</h1>
    <ul>
        <li>Nome: <%= nome %></li>
        <li>Endereço: <%= endereco %></li>
        <li>Telefone: <%= telefone %></li>
        <li>Data de Agendamento: <%= data %></li>
    </ul>
</div>
</body>
</html>
